@import "/home/zorax/.config/waybar/matugen/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.05, 0.7, 0.1, 1);
    border-radius: 100px;
}

window#waybar {
    border-radius: 0;
    background: alpha(@background, 0.2);
}

menu {
    border-radius: 12px;
    background: @surface;
}

#custom-launcher {
    margin: 6px 2px 6px 6px;
    padding: 2px 10px;
    background: @primary;
    color: @on_primary;
}
#custom-launcher:hover {
    background: @secondary;
    color: @on_secondary;
}

#media {
    margin: 6px 2px;
    padding: 2px 8px;
    background: @secondary;
}
#custom-media-info {
    color: @on_secondary;
    padding: 0 6px;
}
#custom-media-prev,
#custom-media-play,
#custom-media-next {
    padding: 0 8px;
    color: @on_secondary;
}
#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover {
    color: @primary_container;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

#workspaces button {
    margin: 6px 2px;
    padding: 2px 6px;
    background: @surface_variant;
    color: @on_surface_variant;
    transition:
        padding 0.2s cubic-bezier(0.05, 0.7, 0.1, 1),
        background-color 0.2s;
}
#workspaces button.active {
    margin: 6px 2px;
    padding: 2px 16px;
    background: @primary;
    color: @on_primary;
}
#workspaces button:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}
#workspaces button.visible,
#workspaces button.persistent {
    color: @on_primary;
}
#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

#disk.root,
#disk.home,
#custom-recorder,
#custom-brightness,
#bluetooth,
#pulseaudio,
#network,
#battery,
#language {
    margin: 6px 2px;
    padding: 2px 12px;
    background: @surface_variant;
    color: @on_surface_variant;
}

#custom-brightness:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#language:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

#pulseaudio.muted {
    background-color: @tertiary_container;
    color: @on_tertiary_container;
}
#pulseaudio.muted:hover {
    background: @tertiary;
    color: @on_tertiary;
}

#tray {
    margin: 6px 2px;
    padding: 2px 16px;
    background: @surface_variant;
    color: @on_surface_variant;
}

#clock {
    margin: 6px 2px;
    padding: 2px 12px;
    background: @surface_variant;
    color: @on_surface_variant;
}

#custom-power {
    margin: 6px 6px 6px 2px;
    padding: 2px 12px;
    background: @primary;
    color: @on_primary;
}
#custom-power:hover {
    background: @secondary;
    color: @on_secondary;
}
