@import "/home/zorax/.config/waybar/matugen/colors.css";
/* @define-color main alpha(@color0, 0.7); */
@define-color main @color0;
* {

    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 14px;
    min-height: 0;
    border: none;
    border-radius: 5px;
}

window#waybar {
    background-color: alpha(@background, 0.95);
    color: #b8b8b8;
    border: 1px solid @on_secondary_fixed_variant;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    /* margin: 5px 10px; */
    
}

#custom-logo {
    background-color: #d08770;
    color: #1a1a1a;
    padding: 0 8px;
    font-weight: bold;
}

#tags {
    /* color: @color6; */
    background-color: transparent;
    margin-left: 0px;
    border-radius: 4px;
}

#tags button {
    padding: 0 6px;
    background-color: transparent;
    color: @secondary_fixed_dim;
    border-radius: 0;
    min-width: 12px;
}

#tags button.focused {
    background-color: @scrim;
    color: @secondary_fixed_dim;
    border: 1px solid @priary_fixed;
    /* font-weight: 900; */
}

#tags button:first-child {
   border-radius: 10px 0 0 10px;
   margin-left: 0;
}

#workspaces {
      border-radius: 5px;
  border: 1px solid @on_secondary_fixed_variant;
}
#workspaces button {
    color: @foreground;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: transparent;
}

#workspaces button.active {
    color: @primary;
    border-radius: 3px;
    border: 2px solid @secondary_fixed_dim;

}
/* #tags { */
/*   background-color: transparent; */
/* } */

#window {
  margin-left: 10px;
  color: @primary    ;
}
/* #workspaces button:hover { */
/*     background-color: transparent; */
/*     color: @color6; */
/* } */

#custom-separator1,
#custom-separator2 {
    color: @secondary;
    padding: 0 6px;
}

#custom-suckless {
    color: @secondary;
    padding: 0 4px;
}
#tray {
    background-color: transparent;
    padding: 0 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#clock {
    color: @secondary;
    padding: 0 8px 0 4px;

}

#custom-cava {
  color: @secondary;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid @on_secondary_fixed_variant;
}

#battery,
#pulseaudio,
#backlight,
#network,
#custom-weather, 
#custom-power,
#custom-menu,
#power-profiles-daemon {
    color: @secondary;
    padding: 0 4px 0 4px;

}

#custom-media-info {
    color: @secondary_fixed_dim;
    margin: 0 4px 0 1px;
    padding: 0 11px 0 11px;
}

#media {
    margin: 0 4px 0 25px;
    padding: 0 11px 0 11px;

 

}

#custom-media-prev,
#custom-media-play,
#custom-media-next {
    padding: 0 8px;
    color: @on_surface;
}
#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover {
    color: @primary_fixed_dim;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}



