@import "/home/zorax/.config/waybar/matugen/colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Radio Canada Big", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#mpd,
#pulseaudio,
#clock,
#network,
#bluetooth,
#custom-media,
#custom-wofi,
#custom-power,
#power-profiles-daemon {
    background-color: alpha(@background, 0.6);
    border: 3px solid alpha(@primary, 0.6);
    color: @foreground;
    border-radius: 45px;
    padding: 0 11px;
    margin: 10px 3px;
}

/* WORKSPACES */
#workspaces {
    min-width: 283px;
    background-color: alpha(@background, 0.6);
    border: 3px solid alpha(@primary, 0.6);
    border-radius: 45px;
    margin: 10px 3px;
}

#workspaces button {
    background-color: alpha(@foreground, 0.2);
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    margin: 5px 8px;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
    min-width: 45px;
    border-radius: 45px;
    padding: 0 9px;
}
/* TOOLTIP */
tooltip {
    background-color: alpha(@on_secondary_fixed , 0.9);
    border: 3px solid alpha(@primary, 0.6);
    border-radius: 20px;
    padding: 20px;
}
