@import "/home/zorax/.config/waybar/matugen/colors.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    border: 0;
    box-shadow: none;
    background-image: none;
}

window#waybar {
    background-color: @background;
    border: 2px solid @on_secondary_fixed_variant;
    border-radius: 6px;   /* az yuvarlak */
}

/* WORKSPACES */
#workspaces button {
    color: @foreground;
    padding: 5px 0;
    background-color: transparent;
}

#workspaces button.active {
    color: @primary;
}

/* MODULES */
#network,
#pulseaudio,
#battery,
#clock {
    color: @foreground;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-feature-settings: "tnum"; /* monospace rakam hissi */
    padding: 7px 0;
}

#tags button {
    color: @foreground;
    padding: 5px 0;
    background-color: transparent;
}

#tags button.focused{
    color: @primary;
}
