@import "/home/zorax/.config/waybar/matugen/colors.css";

* {

    border: none;
    border-radius: 0px;

    font-family: "Radio Canada Big", "JetBrainsMono Nerd Font propo", sans-serif;
    font-weight: bold;
    font-size: 14px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: @background;
    border: 1px solid @surface_container_lowest;
}

tooltip label {
    color: @primary_container;
    padding: 6px;
}


#workspaces {
    background-color: @background;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @on_secondary_fixed_variant;
    color: #abb2bf;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: #21252b;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @primary_fixed_dim;
    color: #282c34;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button.hover {
    background-color: @primary;
    color: #282c34;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @surface_tint;
    color: #282c34;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;

}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#custom-weather {
    background-color: @background;
    margin: 0 4px 0 1px;
    padding: 0 11px 0 11px;
    border-radius: 15px;
    border: 1px solid @on_secondary_fixed_variant;
}

#clock {
    color: @on_surface;
}

#pulseaudio {
    color: @on_surface;
}

#network {
    color: @on_surface;
}

#battery {
    color: @on_surface;
}

#backlight {
    color: @on_surface;
    /* color5 */
}


#custom-media {
    color: @color4;
    /* color2 */
    background-color: @background;
    /* background */
    margin: 0 4px 0 4px;
    padding: 0 15px 0 15px;
    /* top, right, bottom, left */
    border-radius: 15px;
    border: 1px solid @on_secondary_fixed_variant;
}

#custom-notification {
     background-color: @background;
    margin: 0 2px 0 2px;
    padding: 0 11px 0 11px;
    border-radius: 15px;
    border: 1px solid @on_secondary_fixed_variant;
}

#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#clock:hover,
#custom-media:hover,
#custom-notification:hover {
    color: @primary;
}

